/* Style the top navigation bar */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#39498B;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  margin-block-start: 10px;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: rgb(206, 71, 71);
  color: white;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/*dropdown-menü*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#39498B;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}